@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-error">Usuário Bloqueado.</h1>
    <h2 class="text-error">Sua conta foi temporariamente bloqueada por exceder o número de tentativas inválidas, tente novamente mais tarde.</h2>
</hgroup>
