@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>

</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Visite <a href="http://www.eduardopires.net.br" target="_blank">www.eduardopires.net.br</a>  para conhecer mais assuntos de ASP.NET.</p>
    </div>
</div>